{% block preim %}
    {% load static %}
<div class="row">
    <div class="col-md-4 col-12 preim-item">
        <img src="{% static 'front/img/icons/p1.svg' %}" alt="">
        <p class="text-center">Просчет Вашего проекта под ключ с выгодой до 20% </p>
    </div>
    <div class="col-md-4 col-12 preim-item">
        <img src="{% static 'front/img/icons/p2.svg' %}" alt="">
        <p class="text-center">Бонусная система для постоянных клиентов</p>
    </div>
    <div class="col-md-4 col-12 preim-item">
        <img src="{% static 'front/img/icons/p3.svg' %}" alt="">
        <p class="text-center">Доставка в срок по всему Казахстану  </p>
    </div>
    <div class="col-md-2 col-12 d-md-block d-none"></div>
    <div class="col-md-4 col-12 preim-item">
        <img src="{% static 'front/img/icons/p4.svg' %}" alt="">
        <p class="text-center">Оптовый склад в г. Нур-Султан </p>
    </div>
    <div class="col-md-4 col-12 preim-item">
        <img src="{% static 'front/img/icons/p5.svg' %}" alt="">
        <p class="text-center">Широкий ассортимент продукции</p>
    </div>
    <div class="col-md-2 col-12"></div>
</div>
{% endblock preim %}