{% load static %}
{% block header %}
{% include 'front/includes/header.html' %}
{% endblock header %}
    <title></title>
</head>
<body>
{% block modal %}
{% include 'front/includes/modal.html' %}
{% endblock modal %}
{% block menu %}
{% include 'front/includes/menu.html' %}
{% endblock menu %}


<section class="mt-md-0 mt-5">
    <div class="container">
    <?php include "blocks/breadcrumbs-block.php" ?>


        <h2>Услуги</h2>

        <div class="row">
            <div class="col-md-6 col-12">
                <p>
               <b> Всегда выбирайте тех, кому есть что предложить!</b>
               <br> •	Ищете надёжного поставщика инженерного оборудования, способного обеспечить его бесперебойные оптовые поставки в разных объёмах и в точно указанные сроки с гарантией? 
               <br> •	Хотите сократить расходы на приобретение запорно-регулирующей арматуры на 30%-40%?
               <br> •	Нуждаетесь в первоклассном инженерном оборудовании для отопления, водоснабжения и канализации?
                </p>
            </div>
            <div class="col-md-6 col-12">
                <p>
                <b> Нам есть, что Вам предложить!</b>
                <br> Наша компания «RENKAZ» специализируется на предоставление комплексных услуг по реализации инженерного оборудования, его профессионального монтажа и ввода в эксплуатацию. Мы готовы осуществлять своевременные и бесперебойные поставки изделий в любых объемах со всей необходимой документацией. Кроме того, наша компания успешно занимается подбором инженерного оборудования по индивидуальным заказам клиентов. 
                <br><b> Максимальное время обработки оптовой заявки – 1- 3 дня!</b>

                </p>
            </div>
        </div>

        <div class="button my-4 mx-auto" data-toggle="modal" data-target="#cta-modal">Оставить заявку</div>
    </div>
</section>






{% block footer %}
    {% include 'front/includes/footer.html' %}
{% endblock footer %}